{% extends 'main/base.html' %}

{% block content_main %}
<div class="test_content">
<h2>{{title}}</h2>

<br>
<div class="article-panel"><b>Созданные тесты.</b></div>
<table>
{% for t in added_tests %}
    <tr><td>Тест: {{t.title}} | Дата добавления: {{t.time_create}}</td> <td><p class="link-read-post"><a href=" ">Редактировать</a></p></td></tr>
{% endfor %}
</table>
<br>

<div class="article-panel"><b>Выполненные тесты.</b></div>
<br>
<table>
{% for c in completed_tests %}
    <tr><td>Тест: {{c.test_key}} | Результат: {{c.result}} (баллы) <br></td><td> </td></tr>
     <tr><td><br></td></tr>
{% endfor %}
</table>

</div>
{% endblock %}