{% extends 'main/base.html' %}

{% block content_main %}
<div class="test_content">
<h2>Добавление вопроса: </h2>
<hr class="hr-line">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'add_question' test_id %}" method="post">
{% csrf_token %}
<table>
{% for f in question_form %}
    <tr><td><b><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label></b></td> <td>{{ f }}</td></tr>
    <tr><td>{{ f.errors }}</td></tr>

{% endfor %}
</table>
<table>
{% for f in choice_forms %}

    <tr><td><b>{{ f }}</b></td></tr>
    <tr><td>{{ f.errors }}</td></tr>
    <tr><td>  </td></tr>

{% endfor %}
</table><hr class="hr-line">

<div class="button-wrapper">
    <button type="submit" class="button_test" name="button1">Создать новый вопрос </button>
    <button type="submit" class="button_test" name="button2">Сохранить и перейти к следующему этапу</button>
</div>
</form>
</div>
{% endblock %}
