{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block upper_menu %}
		<div class="header">
			<ul id="upper_menu" class="upper_menu">

{% for m in upper_menu %}

			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>

{% endfor %}
{% if user.is_authenticated %}
			<li class="last"><a href="{%url 'user:user_office' request.user.username %}">{{user.username}} </a>| <a href="{% url 'user:logout' %}"> Выход </a></li>
{% else %}
            <li class="last"><a href="{% url 'user:registration' %}"> Регистрация </a> | <a href="{% url 'user:login' %}"> Вход </a></li>
{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock %}


{% block left_column %}
{% endblock %}

<!-- Блок контента -->

{% block content_main %}
{% endblock %}

<!-- Конец блока контента -->


<!-- Footer -->
<tr><td valign=top>

</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>