{% extends 'main/base.html' %}

{% block content_main %}
<div class="test_content">

<h2>Редактирование шкалы оценки</h2>
Внесите изменения и сохраните результат.
<hr class="hr-line">
<form action="" method="post">
    {% csrf_token %}
<table>
{% for f in form %}
    <tr><td><b><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </b></label></td> <td>{{ f }}</td></tr>
    <tr><td>{{ f.errors }}</td></tr>
{% endfor %}
</table>
<hr class="hr-line">
<div class="button-wrapper">
<button type="submit" class="button_test" name="button">Сохранить</button></a>
</div>
</form>
</div>
{% endblock %}

<!--<a href="{% url 'demo_valuation' test_id=object.test_key %}"></a>-->